/* About Page Specific Styles */
.about-hero {
    background-image: linear-gradient(rgba(13, 30, 30, 0.7), rgba(13, 30, 30, 0.4)), url("https://lh3.googleusercontent.com/aida-public/AB6AXuADD8SdcxDmmDSWf3xnr2PtOTCw-CL2XEhkHx9JGXKmucYm7lD806-G-vdv3QEecW0InROA9-V3-OqdSGROpV3vJMV6ShHfRUG_Yq-yVmoAAfWrbehxYQnfk-5nx8jUyGaRCjk0-yobsIqcm5mRCHgTEY-mNdI-R2igtKULYDY1PfdLdt7SeuJutyvfPUVboWgyxCf8nSUpV-eX51umLUGKG09P7Vh8fzV6Y8JuUy8qYr6NhnOqf_Q-N8N05FWkHKe0CrlQ7uZeBC_5");
    background-size: cover;
    background-position: center;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
